@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
  background-color: rgb(229, 229, 229);
}

.todolist {
  height: 35vh;
  overflow: auto;
}

.app {
  background-color: white;
  
  display: flex;
  width: 800px;
  min-height: 500px;
  padding: 50px;
  flex-direction: column;
  
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 32px auto;
  max-width: 500px;
  width: 100%;
  padding: 32px 24px;
  
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  color: #323232;
  margin-left: 16px;
}

.calendar {
  width: 32px;
  height: 32px;
  border: 1px solid #3D82EB;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.calendar__header {
  height: 16px;
  background: #3D82EB;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
}

.calendar__body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 700;
  color: #3D82EB;
}

.todoitem {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
  cursor: pointer;
}

.input {
  order: 2;
  border: none;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
  cursor: pointer;
  color: #3D82EB;
  outline: none;
}

.todoitem:hover {
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding-right: 16px;
}

.todoitem:hover .delete{
  width: 20px;
  display: block;
}

.todocheckbox {
  width: 16px;
  height: 16px;
  border: 2px solid #CBCBCB;
  border-radius: 100%;
  flex-shrink: 0;
}

.todoitem__left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todoitem__text {
  font-size: 14px;
  line-height: 120%;
  color: #4E4E4E;
  margin-left: 16px;
}

.delete {
  vertical-align: middle;
  line-height: 0px;
  height: 20px; 
  width: 20px;  
  font-size: 1em;
  border-radius: 50%;
  border-color: #df1313;
  background-color: #ffffff;
  color: #ff2600;
  text-align:center;
}

.addinput {
  padding:10px;
  border:0;
}

.container {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  align-items: center;
}

.addbutton {
  vertical-align: middle;
  line-height: 0px;
  height: 20px; 
  width: 20px;  
  font-size: 1.5em;
  border-radius: 50%;
  border-color: #17a0df;
  background-color: #ffffff;
  color: #17a0df;
  text-align:center;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  left: 0;
  position: absolute;
  top: 0;
  
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 3px;
  left: 3px;
  top: 4px;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 8px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #4e4e4e;
  border-color: #4e4e4e;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.three-dots:after {
  cursor: pointer;
  color: rgb(63, 63, 63);
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .option {
  color: #a7a7a7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .option:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}